<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>出库</title>
    <script th:src="@{static/Bootstrap/jquery-1.9.1.min.js}"></script>
    <script th:src="@{static/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{static/Bootstrap/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{static/Bootstrap/bootstrap-table/bootstrap-table.css}" rel="stylesheet" />
    <script th:src="@{static/Bootstrap/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{static/Bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <link th:href="@{static/Bootstrap/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <script th:src="@{static/Bootstrap/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{static/Bootstrap/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

    <link rel="stylesheet" th:href="@{static/Bootstrap/bootstrap/css/bootstrap-select.min.css}">
    <script th:src="@{static/Bootstrap/bootstrap/js/bootstrap-select.min.js}"></script>
</head>
<body>
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default" onclick="didClickAdd()" style="outline: none">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 出库
        </button>
    </div>
    <table id="placing-table"></table>

    <div class="modal fade wrapper" id="productTableModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="outline: none">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请选择物品
                    </h4>
                    <table id="productTable"></table>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

    <div class="modal fade wrapper" id="placingModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="outline: none">
                        &times;
                    </button>
                    <h4 class="modal-title" id="placingModalLabel">
                        添加出库单
                    </h4>
                    <form role="form" style="margin-top: 10px;margin-right: 20px;margin-left: 20px">
                        <div class="form-group">
                            <label class="form-label" for="w_productName">名称</label>
                            <input type="text" class="form-control" id="w_productName" placeholder="请输入名称" readonly>
                        </div>
                        <div class="form-group">
                            <label for="w_productClass" style="width: 100%">类型</label>
                            <input type="text" class="form-control" id="w_productClass" placeholder="请选择" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_supplier">供应商</label>
                            <input type="text" class="form-control" id="w_supplier" placeholder="请输入供应商" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_productType">规格尺寸</label>
                            <input type="text" class="form-control" id="w_productType" placeholder="请输入规格尺寸" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_unitPrice">单价（元）</label>
                            <input type="text" class="form-control" id="w_unitPrice" placeholder="请输入单价" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_unit">计量单位</label>
                            <input type="text" class="form-control" id="w_unit" placeholder="请输入计量单位" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_personName" style="width: 100%">入库人员</label>
                            <select id="w_personName" style="width: auto" class="selectpicker"></select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_time">日期</label>
                            <div id="w_time" class="input-group date form_date col-md-5 col-xs-5" data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input id="w_date_iput" class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="receiver">领用人</label>
                            <input type="text" class="form-control" id="receiver" placeholder="请输入领用人">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="customerSelect" style="width: 100%">客户</label>
                            <select id="customerSelect" class="selectpicker" data-live-search="true"></select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_count">数量</label>
                            <input type="text" class="form-control" id="w_count" placeholder="请输入数量">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_remarks">备注</label>
                            <input type="text" class="form-control" id="w_remarks" placeholder="请输入备注">
                        </div>
                    </form>

                    <div class="modal-footer form-actions">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" onclick="clickSubmitAction()" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>


    <div class="modal fade wrapper" id="eidtPlacingModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="outline: none">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        编辑出库单
                    </h4>
                    <form role="form" style="margin-top: 10px;margin-right: 20px;margin-left: 20px">
                        <div class="form-group">
                            <label class="form-label" for="eidt_personName" style="width: 100%">入库人员</label>
                            <select id="eidt_personName" style="width: auto" class="selectpicker"></select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_time">日期</label>
                            <div id="eidt_time" class="input-group date form_date col-md-5 col-xs-5" data-date="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input id="eidt_date_iput" class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="eidt_customerSelect" style="width: 100%">客户</label>
                            <select id="eidt_customerSelect" class="selectpicker" data-live-search="true"></select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="eidt_receiver">领用人</label>
                            <input type="text" class="form-control" id="eidt_receiver" placeholder="请输入领用人">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="eidt_count">数量</label>
                            <input type="text" class="form-control" id="eidt_count" placeholder="请输入数量">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="w_remarks">备注</label>
                            <input type="text" class="form-control" id="eidt_remarks" placeholder="请输入备注">
                        </div>
                    </form>

                    <div class="modal-footer form-actions">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" onclick="clickEidtSubmitAction()" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>

</body>

<script th:inline="javascript" type="text/javascript">

    function clickEidtSubmitAction() {
        var productData = $("#eidtPlacingModel").val();
        var personName = $("#eidt_personName").val();//选中select的内容
        var time = $("#eidt_time").data("datetimepicker").getDate();//时间
        var count = $("#eidt_count").val();
        var wareRemarks = $("#eidt_remarks").val();
        var receiver = $("#eidt_receiver").val();
        var customerSelect = $("#eidt_customerSelect");
        // var code = productClass === "耗材"?"":customerSelect.val();
        // var name = productClass === "耗材"?"":customerSelect.text();
        var code = customerSelect.val();
        var name = customerSelect.text();
        if (code === ""){
            alert("请选择客户");
            return;
        }
        if (receiver === ""){
            alert("请输入领用人");
            return;
        }
        if (count === ""){
            alert("请输入领用数量");
            return;
        }

        var  parm = {"productId":productData.productId,
            "orderId":productData.orderId,
            "personName":personName,
            "time":time.getTime(),
            "count":count,
            "wareRemarks":wareRemarks,
            "receiver":receiver,
            "code":code,
            "name":name
        };

        $.post("updateWarehouseing", parm, function(data){
            alert(data.msg);
            if (data.code === 1){
                $("#eidtPlacingModel").modal('hide');
                $("#placing-table").bootstrapTable('refresh');
            }
        },"json");
        
    }

    function clickSubmitAction() {
        var productName = $("#w_productName").val();
        var productClass = $("#w_productClass").val();
        var supplier = $("#w_supplier").val();
        var personName = $("#w_personName").val();//选中select的内容
        var time = $("#w_time").data("datetimepicker").getDate();//时间
        var productType = $("#w_productType").val();
        var unitPrice = $("#w_unitPrice").val();
        var count = $("#w_count").val();
        var unit = $("#w_unit").val();
        var remarks = $("#w_remarks").val();
        var productData = $("#placingModel").val();
        var receiver = $("#receiver").val();
        var customerSelect = $("#customerSelect");
        // var code = productClass === "耗材"?"":customerSelect.val();
        // var name = productClass === "耗材"?"":customerSelect.text();
        var code = customerSelect.val();
        var name = customerSelect.text();
        if (code === ""){
            alert("请选择客户");
            return;
        }
        if (receiver === ""){
            alert("请输入领用人");
            return;
        }
        if (count === ""){
            alert("请输入领用数量");
            return;
        }

        var  parm = {"productId":productData.productId,
            "productName":productName,
            "productClass":productClass,
            "supplier":supplier,
            "personName":personName,
            "time":time.getTime(),
            "productType":productType,
            "unitPrice":unitPrice,
            "count":count,
            "unit":unit,
            "remarks":remarks,
            "receiver":receiver,
            "code":code,
            "name":name
        };

        $.post("outWarehousing", parm, function(data){
            alert(data.msg);
            if (data.code === 1){
                $("#placingModel").modal('hide');
                $("#placing-table").bootstrapTable('refresh');
            }
        },"json");


    }

    function didClickAdd() {
        var model = $("#productTableModel");
        model.modal('show');
    }

    /**
     * 时间戳转换为日期字符串
     * @param timeValue 时间戳
     * @param isDay 到日为止
     * @returns 日期字符串
     */
    function changeDateFormat(timeValue, isDay) {
        var date = new Date(timeValue);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        var D = date.getDate();
        if (isDay === true) {
            return Y+M+D;
        }else {
            var h = date.getHours() + ':';
            var m = date.getMinutes() + ':';
            var s = date.getSeconds();
            return Y + M + D +" "+ h + m + s;
        }
    }


    function selectProduct(product){
        $("#productTableModel").modal('hide');
        var model = $("#placingModel");
        model.val(product);
        model.modal('show');
    }

    function eidtWarehouseReceipt(receiptData){
        var model = $("#eidtPlacingModel");
        model.val(receiptData);
        model.modal('show');
    }

    function delWarehouseReceipt(receiptData){
        var  parm = {"productId":receiptData.productId,
            "orderId":receiptData.orderId
        };

        $.post("deleteWarehouseing", parm, function(data){
            alert(data.msg);
            if (data.code === 1){
                $("#placing-table").bootstrapTable('refresh');
            }
        },"json");
    }

    $(function () {

        var productTypes = [[${productTypes}]];
        var userInfo = [[${userInfo}]];

        var datePicker = $('.form_date');
        //日历冒泡的时候阻止
        datePicker.on('show', function(event) {
            event.stopPropagation();
        });

        datePicker.datetimepicker({
            language:  'zh-CN',
            format:"yyyy-mm-dd",
            weekStart: true,
            todayBtn:  true,
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $("#eidtPlacingModel").on('show.bs.modal', function () {
            var receiptData = $(this).val();
            var timeValue = receiptData.time;
            var persone = $("#eidt_personName");
            $("#eidt_date_iput").val(changeDateFormat(timeValue, true));
            $('#eidt_time').datetimepicker("update",changeDateFormat(timeValue, true));
            $('#eidt_receiver').val(receiptData.receiver);
            $('#eidt_count').val(receiptData.count);
            $('#eidt_remarks').val(receiptData.wareRemarks);

            $.post("userListByRole", {"roleId":1}, function(data){
                var htmlStr = '';
                for (var i = 0; i < data.length; i++) {
                    var user = data[i];
                    if (userInfo.id === user.id) {
                        htmlStr+="<option value='"+user.name+"' selected = \"selected\"> "+user.name+"</option>";
                    }else {
                        htmlStr+="<option value='"+user.name+"'> "+user.name+"</option>";
                    }
                }
                persone.html("");
                persone.append(htmlStr);
                persone.selectpicker('refresh');

            },"json");
            var customerSelect = $("#eidt_customerSelect");
            $.get("queryAllCustomers", function (data) {
                var htmlStr = '';
                for (var i = 0; i < data.length; i++) {
                    var customer = data[i];
                    htmlStr+="<option value='"+customer.code+"'> "+customer.name+"</option>";
                }
                customerSelect.html("");
                customerSelect.append(htmlStr);
                customerSelect.selectpicker('refresh');
            },"json");
        });

        $('#placingModel').on('show.bs.modal', function () {
            var productData = $(this).val();
            $("#w_productName").val(productData.productName);
            $("#w_productClass").val(productData.productClass);
            $("#w_supplier").val(productData.supplier);
            $("#w_productType").val(productData.productType);
            $("#w_unitPrice").val(productData.unitPrice);
            $("#w_unit").val(productData.unit);
            var timeValue = new Date().getTime();
            $("#w_date_iput").val(changeDateFormat(timeValue, true));
            // $('#w_time').datetimepicker("update",changeDateFormat(timeValue, true));

            var persone = $("#w_personName");
            $.post("userListByRole", {"roleId":1}, function(data){
                var htmlStr = '';
                for (var i = 0; i < data.length; i++) {
                    var user = data[i];
                    if (userInfo.id === user.id) {
                        htmlStr+="<option value='"+user.name+"' selected = \"selected\"> "+user.name+"</option>";
                    }else {
                        htmlStr+="<option value='"+user.name+"'> "+user.name+"</option>";
                    }
                }
                persone.html("");
                persone.append(htmlStr);
                persone.selectpicker('refresh');

            },"json");
            var customerSelect = $("#customerSelect");
            $.get("queryAllCustomers", function (data) {
                var htmlStr = '';
                for (var i = 0; i < data.length; i++) {
                    var customer = data[i];
                    htmlStr+="<option value='"+customer.code+"'> "+customer.name+"</option>";
                }
                customerSelect.html("");
                customerSelect.append(htmlStr);
                customerSelect.selectpicker('refresh');
            },"json");
        });

        var query_Params = function (params) {
            return {
                page: params.pageNumber,
                rows: params.pageSize,
                productId:"",
                orderId:params.searchText,
                orderType:1
            };
        };

        var wareHouseParams = function(params){
            return{
                page: params.pageNumber,
                rows: params.pageSize,
                productClass:"",
                productName:params.searchText
            }
        };

        $("#productTable").bootstrapTable({
            language:  'zh-CN',
            url: '/productList',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            paginationPreText:'上一页',
            paginationNextText:'下一页',
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams:wareHouseParams,//传递参数（*）
            queryParamsType:"",
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [{
                title: '操作',
                width: 150,
                field: 'id',
                align: 'center',
                formatter:function(value,row,index){
                    var e = '<button href="#" class="btn btn-mini btn-primary" onclick="selectProduct('+JSON.stringify(row).replace(/\"/g,"'")+')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button> ';
                    return e;
                }},{
                field: 'productId',
                title: '物品号'
            }, {
                field: 'productName',
                title: '名称'
            }, {
                field: 'productIcon',
                title: '图片'
            },{
                field: 'productType',
                title: '规格类型'
            },{
                field: 'supplier',
                title: '供应商'
            },{
                field: 'unitPrice',
                title: '单价'
            },{
                field: 'stockCount',
                title: '库存（数量/重量）'

            },{
                field: 'unit',
                title: '单位'
            },{
                field: 'remarks',
                title: '备注'
            }]
        });

        $("#placing-table").bootstrapTable({
            language:  'zh-CN',
            url: '/godownEntryListByOrderId',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams:query_Params,//传递参数（*）
            queryParamsType:"",
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            columns: [{
                field: 'orderId',
                title: '单号'
            }, {
                field: 'productName',
                title: '名称'
            }, {
                field: 'receiver',
                title: '领用人'
            },{
                field: 'code',
                title: '客户编号'
            },{
                field: 'name',
                title: '客户名称'
            },{
                field: 'productType',
                title: '规格类型'
            },{
                field: 'supplier',
                title: '供应商'
            },{
                field: 'unitPrice',
                title: '单价'
            },{
                field: 'count',
                title: '领用数量/重量'
            },{
                field: 'unit',
                title: '单位'
            }, {
                field: 'personName',
                title: '出库人员'
            },{
                field: 'time',
                title: '出库时间',
                formatter: function (value,row,index) {
                    return changeDateFormat(value, true);
                }
            },{
                field: 'wareRemarks',
                title: '备注'
            },{
                title: '操作',
                field: 'id',
                align: 'center',
                formatter:function(value,row,index){
                    var e = '<button href="#" class="btn btn-mini btn-primary" onclick="eidtWarehouseReceipt('+JSON.stringify(row).replace(/\"/g,"'")+')"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> ';
                    var d = '<button href="#" class="btn btn-mini btn-danger" onclick="delWarehouseReceipt('+JSON.stringify(row).replace(/\"/g,"'")+')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> ';
                    return e+d;
                }}]
        });
    });
</script>
</html>